/*css file started*/
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    background:floralwhite;
    flex-direction: column;
}
.main{
    background-color:rgb(228, 132, 81);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}
.main:hover{
    transform: scale(1.02);
}